.next-button .page-link{
    background: #5D5FEF;
    border-radius: 15px !important;
    color: white;
    font-family: Barlow Condensed;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-align: center;
    padding: 10px 20px;
}


.table-user {
    padding: 3em 0;
}

.table-user table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

.table-user td {
    padding: 0.5em 1em !important;
    border-bottom: 0;
    box-shadow: none;
    font-family: Barlow Semi Condensed;
    font-size: 21px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: capitalize;
}

.table-user th {
    padding: 0.5em 1em !important;
}

.table-user thead tr {
    box-shadow: none;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-align: left;

}

th {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    border: none;
}

tr {
    display: table-row;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 10px;
}

.table-user th.text-end,
.table-user td.text-end {
    padding-right: 0;
}

.delete-row td {
    color: #A6A6A6 !important;
}

.delete-row td.text-delete {
    color: #D77842 !important;
}